@model System.Web.Mvc.HandleErrorInfo          
<html>
<head>
    <title>Backend error</title>
</head>
<body>
    <div id="container">
        <p>There's a problem communicating with the backend system. Please try again later.</p>
        <p><em>@Model.Exception.Message</em></p>
    </div>
</body>
</html>
