@{
    Layout = "~/Views/Shared/Layout.cshtml";     
    ViewBag.Title = "Home"; 
}

    <p>
        <img src=@Url.Content("~/images/web_logo.png") /></p>
    <p>
        Welcome to the <strong>DDDSample</strong> application.</p>
    <p>
        There are two web interfaces available:</p>
    <ul>
        <li>Public @Html.ActionLink("cargo tracking", "Track", "Tracking")</li>
        <li>Administration of @Html.ActionLink("booking and routing", "List", "Booking").</li>
    </ul>
    <p>
        The Incident Logging application, that is used to register handling events, is a
        stand-alone application and a separate download.</p>
    <p>
        Please visit the <a href="http://dddsample.sf.net">project website</a> for more
        information and a screencast demonstration of how the application works.</p>
    <p>
        <i>This project is a joint effort by Eric Evans' company <a href="http://www.domainlanguage.com"
            class="externalLink">Domain Language</a> and the Swedish software consulting company
            <a href="http://www.citerus.se" class="externalLink">Citerus</a>.</i></p>