<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <!-- Properties defined here are shared between test and production -->
    <property name="cache.provider_class">NHibernate.Cache.NoCacheProvider</property>
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">create-drop</property>
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>

    <mapping file="hibernate/Cargo.hbm.xml" />
    <mapping file="hibernate/Voyage.hbm.xml" />
    <mapping file="hibernate/Leg.hbm.xml" />
    <mapping file="hibernate/Location.hbm.xml" />
    <mapping file="hibernate/CarrierMovement.hbm.xml" />
    <mapping file="hibernate/HandlingEvent.hbm.xml" />
    <mapping file="hibernate/HandlingActivity.hbm.xml" />       
  </session-factory>
</hibernate-configuration>