<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <resource uri="~/bin/contexts/context-remote-pathfinder.xml"/>
      <resource uri="~/bin/contexts/context-infrastructure.xml"/>
      <resource uri="~/bin/contexts/context-domain.xml"/>
      <resource uri="~/bin/contexts/context-application.xml"/>
      <resource uri="~/bin/contexts/context-interfaces.xml"/>
    </context>
  </spring>

  <connectionStrings>
    <add name="DomainDrivenDelivery"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local)\SQLEXPRESS;
                           Initial Catalog=DomainDrivenDelivery;
                           Integrated Security=True;
                           Pooling=False" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="BookingService">
        <endpoint address="" binding="basicHttpBinding" contract="DomainDrivenDelivery.Booking.Api.BookingServiceFacade" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>          
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint name="GraphTraversalService"
                binding="basicHttpBinding"
                address="http://localhost:53604/GraphTraversal.svc"
                contract="DomainDrivenDelivery.Pathfinder.Api.GraphTraversalService" />
    </client>

  </system.serviceModel>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
