<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
    </parsers>
  </spring>

  <connectionStrings>
    <add name="DomainDrivenDelivery"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local)\SQLEXPRESS;
                           Initial Catalog=DomainDrivenDelivery_Test;
                           Integrated Security=True;
                           Pooling=False" />
  </connectionStrings>

</configuration>